/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */
section {
    background-color: black;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 170px;
}

footer {
    background-color: #232629;
}

div {
    border: 2px dashed blue;
}

.d-flex {
    display: flex;

}


header {
    background-color: #99BECA;
}

header>.container {
    background-color: #A98220;
}


.link-list {
    list-style: none;
    display: flex;
    justify-content: center
}

.main-nav {
    flex-grow: 1;
}

.first-section {
    background-color: #EE82EE;
    width: 500px;
    margin: 30px auto;
}

.double {
    height: 300px;

}

.little {
    background-color: #FFC0CB;
    width: 40%;
}

.big {
    background-color: #1E7FDE;
    width: 60%;
}

.reverse {
    flex-direction: row-reverse;
}

.last-section {
    width: 100%;
    min-height: 500px;
    background-color: #228B22;
}


.main {
    background-color: #F08080;
    width: calc(100% / 3);
    height: 300px;
}

.secondary {
    background-color: #1FA9A2;
    width: 25%;
    height: 300px;
}

.first-footer {
    border-bottom: 2px solid lightgrey;
}

.second-footer {
    width: 656px;
    height: 70px;
    justify-content: space-between;
    background-color: #7FFFD4;
    text-align: center;
    padding: 0;
    align-items: center;

}